.footer {
    background-color: $primary-color-dark;
    color: $color-grey-light-1;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    @include respond(phone) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 5rem;
        }
    
        @include respond(phone) {
            margin-bottom: 5rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    
        @include respond(phone) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none ;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            background-color: $primary-color-dark;
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all 2s;
        }

        &:hover,
        &:active {
            color: $primary-color;
            box-shadow: 0 1.5rem 2rem rgba($color-black, .4);
            transform: rotate(10deg) scale(1.5);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    
        @include respond(phone) {
            width: 100%;
            float: none;
        }
    }
}