.footer {
    background-color: $primary-color-dark;
    color: $color-white;

    &__logo-box {
        text-align: center;
        padding: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {

    }

    &__list {
        list-style: none ;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {

    }
}