.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;

        box-shadow: 0 1rem 3rem rgba($color-black, .3);
        cursor: pointer;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        /* 
            The button stays in the same place regardless of where you are in the page
            The button moves with you as you scroll up and down
        */
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($primary-color-light, $primary-color-dark);
        z-index: 1000;

        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        /*
            Hide the navigation
        */
        opacity: 0;
        width: 0;
    }

    &__list { 
        position: absolute;
        @include center-vertically-horizontally;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 2rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 3rem;
            font-weight: 300;
            text-decoration: none;
            color: $color-white;
            text-transform: uppercase;

            background-image: linear-gradient(120deg, $primary-color-dark 0%, $primary-color-dark 50%, $color-white 50%);
            background-size: 250%;

            transition: all 1.5s;
        }

        &:hover,
        &:active {
            background-position: 90%;
            color: $primary-color-dark;
            transform: translateY(-1rem);
        }
    }

    /* 
        Functionality for opening/closing the menu
    */
    &__checkbox:checked ~ &__background {
        transform: scale(100);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    /* Menu icon */
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $primary-color-dark;
        }

        &::before,
        &::after {
            /* 
                We need to set the content for the before and after to appear on the page
            */
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        
        &::before { top: -.7rem; }
        &::after { top: .7rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg)
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg)
    }
}