/* 
    Append a pseudo-element after the element which will then clear these floats
*/
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-vertically-horizontally {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}