.card {
    /* For the rotating effect of the card */
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 55rem;

    &__side {
        height: 55rem;
        font-size: large;
        transition: all .9s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 1rem;
        /* The image fits in the card div */
        overflow: hidden;
        border-top-left-radius: 10rem;
        border-bottom-right-radius: 10rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        /* 
            If we set this to hidden, it hides the back part of an element.
        */
        backface-visibility: hidden;

        &--front {
            background-color: $primary-color-light;
        }

        &--back {
            background: $primary-color-light;
            transform: rotateY(180deg);
            border-radius: 1rem;
            border-top-right-radius: 10rem;
            border-bottom-left-radius: 10rem;
        }
    }

    /* When we hover the card, we want the side to transform */
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
    
    /* Front side styling */
    &__image {
        background-size: cover;
        height: 23rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);

        &--1 {
            background-image: url('../img/nat-5.jpg');
        }

        &--2 {
            background-image: url('../img/nat-6.jpg');
        }

        &--3 {
            background-image: url('../img/nat-7.jpg');
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-white;
        padding: 5rem;
        position: absolute;
        top: 15rem;
        right: 6rem;
        text-align: center;
        width: 100%;

        @include respond(tab-port) {
            right: 10rem;
        }
        
        @include respond(phone) {
            right: 10rem;
        }
    }

    &__heading--span {
        background-image: linear-gradient(to right bottom, rgba($primary-color-dark, .7), rgba($primary-color-dark, .7));
        clip-path: fill-box;
        padding: .9rem;
    }

    &__details {
        padding: 5rem;
        margin: 0 auto;
        
        ul {
            list-style: none;
            width: 90%;

            li {
                text-align: center;
                padding: .9rem;

                &:not(:last-child) {
                    border-bottom: .5px solid rgba($primary-color-dark, .5);
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $primary-color-dark;
    }

    &__price-only {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 200;
    }

    @include respond(tab-port) {
        height: auto;
        border-radius: 1rem;

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;
        }
    }

    @include respond(phone) {
        height: auto;
        border-radius: 1rem;

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        }
    }
}