.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .5s;

    &__icon {
        font-size: 5.5rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $primary-color-dark, $primary-color);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: scale(1.1) translateY(-2.5rem);
    }

    &__text {

    }
}