.feedback {
    width: 75%;
    /* 
        It's a block element inside a block element so we can use margin
    */
    margin: 0 auto;
    padding: 6rem;
    box-shadow: 0 3rem 6rem rgba($color-black, .5);
    background-color: rgba($color-white, 0.95);
    border-radius: 3px;
    font-size: $font-size;
    /* 
        Change the rectangular design
        
        This skews the card and everything inside the card
    */
    transform: skewX(-15deg);
    
    &__shape {
        width: 15rem;
        height: 15rem;
        /* 
            When using float, we need to define the width and height as well
        */
        float: left;
        /* 
            Defines where the content floats around the element
        */
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        /* 
            We should use transform when using floated elements (not margin or padding)
        */
        transform: translateX(-2rem) skewX(15deg);
        position: relative;
        backface-visibility: hidden;
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.5);
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__text {
        transform: skewX(15deg);
    }

    &__caption {
        /* 
            Center the caption on the image. Need position, top, left, transform
        */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    /* 
        Display the username when hovering over the element
    */
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    /* 
        Creates the zooming effect when hovering over the image

        Also blurs out the image
    */
    &:hover &__img {
        filter: blur(2px);
        transform: translateX(-4rem) scale(1);
    }
}