/* 
    Normalize the CSS to make every browser render the page in the exact same way 
    The universal selector selects every element on the webpage and apply the declarations
*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    /* 
        This defines what 1 REM is
        1 REM = 10 pixels 
        10px/16px = 62.5%
    */
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    }

    @include respond(phone) {
        font-size: 50%;
    }

    @include respond(big-desk) {
        font-size: 75%; // 1 rem = 12, 12/16 = 75%
    }
}

/*
    The parent element of all the other elements
*/
body {
    /* 
        Change the box model so that the borders and paddings are no longer added to
        the total width or the total height that we specify for a box.
    */
    box-sizing: border-box;
}

::selection {
    background-color: $primary-color;
    color: $color-white;
}