/*
    The parent element of all the other elements
*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*
        The line height is 1.7 times bigger than the predefined (default) line height
    */
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    /* 
        This property determines if the back part of an element when 
        we transform it is visible or hidden for the user
    */
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 900;
        letter-spacing: 2.5rem;
        white-space: nowrap;
    
        animation-name: moveInLeft;
        animation-duration: 2.5s;
        animation-timing-function: ease-in-out;

        @include respond(tab-port) {
            letter-spacing: 2rem;
            font-size: 5rem;
        }

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 4rem;
        }

        &--smaller {
            font-size: 3.5rem;
            letter-spacing: 1.5rem;
            font-weight: 900;

            animation-name: moveInLeft;
            animation-duration: 2.5s;
            animation-timing-function: ease-in-out;

            @include respond(tab-port) {
                letter-spacing: 1rem;
            }

            @include respond(phone) {
                letter-spacing: 1rem;
            }
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation: moveInRight 2.5s ease-in-out;

        @include respond(phone) {
            letter-spacing: .75rem;
        }
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to left, $primary-color-dark, $primary-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .10s;
    margin: -20rem 0 5rem;

    &:hover {
        transform: skewX(10deg) skewY(.5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

    @include respond(tab-port) {
        font-size: 2.8rem;
    }

    @include respond(phone) {
        font-size: 2.8rem;
    }
}

.heading-tertiary {
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}